# Ansible managed NFS exports for Compute Nodes
{% if 'compute_nodes' in groups %}
{% for host in groups['compute_nodes'] %}
{% set real_ip = hostvars[host].private_ip | default(hostvars[host].ansible_host, true) %}
{% if real_ip %}
/home       {{ real_ip }}(rw,sync,no_subtree_check,no_root_squash)
/opt        {{ real_ip }}(rw,sync,no_subtree_check,no_root_squash)
/etc/slurm  {{ real_ip }}(rw,sync,no_subtree_check,no_root_squash)
{% endif %}
{% endfor %}
{% endif %}
